{% extends 'base.html.twig' %}

{% block title %}Personnages{% endblock %}

{% block monTitre %}
    Arme : {{ arme.nom }}
{% endblock %}

{% block body %}
    <div class="row">
    <div class="col-2">
        <img src="{{ asset('images/armes/' ~ arme.nom|replace({'é':'e'}) ~ '.png') }}">
    </div>
    <div class="col">
    <h2> {{ arme.nom }}</h2>
    <div>
        {{ arme.description }}
    </div>
    <div>
        {{ arme.degat }}
    </div>



{% endblock %}